body {
  background: #c1b5ad;
  font-family: 'Varela Round', sans-serif;
  min-width: -webkit-min-content;
  height: '800px' !important;
  }

#main{
  height: '800px' !important;
}

@media (min-width: 768px) {
  #map-canvas {
    border-bottom: none;
    border-left: none; }
  .map-container {
    padding: 0; }
    .map-container > div {
      position: fixed;
      width: inherit; } }

h4 {
  color: #aaa;
  margin-top: 0; }

h3 {
  color: #64574c;
  text-align: center;
  margin-top: 0; }
